
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*@section Menu
{
    @Html.ActionLink("Contact us", "Contact", "Home")<br />
    @Html.ActionLink("Rate us", "Rate", "Home")
}*@
<h2>This is About page</h2>

