body {
}
table {
    width: 100%;
}

header {
    width: 100%;
}

nav {
    float: initial;
    width: 200px;
    text-align: center;
}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: sandybrown;
}

.li1 {
    float: left;
}

    .li1 a {
        display:flex;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
        .li1 a:hover {
            background-color: rebeccapurple;
            color: yellow;
        }

.content {
    background-color: lightblue;
    padding: 20px;
    vertical-align: top;
}

footer {
    background-color: darkblue;
    color: white;
    width: 100%;
    height: 80px;
    float: right;
    text-align: center;
}

